[Unit]
Description=Clipman Clipboard Manager
After=default.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'WLR_NO_HARDWARE_CURSORS=1 /usr/bin/wl-paste --watch /home/eternity/bin/clipman store'
Restart=always
RestartSec=3

[Install]
WantedBy=default.target